{% extends 'shop/layouts/main.html' %}

{% block title %}
    Shopkart | Online Shopping
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{ category_name }} Products</h4>
                <hr style="border-color: #b8bfc2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'collections' %}" class="text-decoration-none">Collections</a></li>
                        <li class="breadcrumb-item active">{{category_name}} Collections</li>
                    </ol>
                </nav>
                {% include 'shop/inc/message.html' %}
            </div>
            
            {% for item in products %} 
            <div class="col-md-4 col-lg-3"> 
                <div class="card my-3"  style="min-height: 260px; width:245px;"> 
                    <div class="text-center">
                    <img src="{{ item.product_image.url }}" class="card-image-top" alt="Products" width="140px" height="170px" style="padding:12px; margin-bottom: 2px;">   
                    </div>
                    <div class="underline"></div>
                    <a href="{% url 'product_details' category_name item.name %}" style="text-decoration: none;">
                    <div class="card-body"> 
                        <h5 class="card-title text-primary" style="margin-bottom:10px ;">{{ item.name }}</h5>
                        <p class="cart-text" >
                            <span class="float-start old_price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span> 
                            <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                        </p> 
                    </div> 
                    </a>
                </div> 
            </div> 
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
   
